{% extends 'base.html' %}
{% block biblioteca %}active{% endblock %}
{% block main %}
<section class="section section-sm section-first bg-default text-center" style="min-height: 500px;">
    <div class="row">
        <div class="col text-left px-5">
          <h2 class="px-5">O que é o CAFÍS?</h2>
          <p class="px-5 mt-5">CAFÍS é a sigla para <b>Centro Acadêmico de Física</b>.</p>
          <p class="px-5">
            O Centro Acadêmico de Física é a entidade estudantil que representa os discentes da graduação e pós-graduação em Física do CEFET/RJ - Nova Friburgo. Dentre as mais diversas responsabilidades do CaFís, podemos citar: a organização de atividades acadêmicas extracurriculares como debates, discussões, palestras, semanas temáticas, congressos, simpósios, recepção de calouros e realização de projetos de extensão; encaminhamento, mobilização e organização de reivindicações e ações políticas dos estudantes; mediação de negociações e conflitos individuais e coletivos entre estudantes e a faculdade; realização de atividades culturais como feiras de livros, festivais diversos, entre outros.
          </p>
          <h4 class="px-5 mt-5">Para que serve o CAFis mesmo?</h4>
          <p class="px-5">
            O CAFÍS é formado a partir da associação de discentes do curso de física funcionando também como elo entre os discentes e a Coordenação e Direção do CEFET. As chapas, constituídas por essa associação de discentes, possuem um mandato com durabilidade de um ano, podendo ser estendido para dois em caso de reeleição. Informações mais gerais de como funciona a administração do Centro Acadêmico podem ser encontradas no estatuto da nossa entidade.
          </p>
          <p class="px-5">A função básica de um Centro Acadêmico é representar os estudantes de sua base nos seus anseios e necessidades e promover a integração entre os alunos dos vários períodos. Trocando em miúdos podemos dar alguns exemplos:</p>          
          <p class="px-5">Um aluno ou um grupo de alunos tem alguma bronca com um professor. Para não dar a cara a tapa e correr o risco de ficar(em) marcado(s) a reclamação pode ser feita por meio da representação do Centro Acadêmico.</p>
          <p class="px-5">
            Começou o semestre, uma certa disciplina não está tendo aula e isso pode prejudicar os alunos, é papel do Centro Acadêmico interagir com os órgãos competentes para que este problema seja resolvido.
          </p>
          <p class="px-5">
            Os alunos não estão enturmados? Cabe ao Centro Acadêmico promover algum meio para integração entre estes alunos (Grupo de debates, festas, etc).
          </p>
          <p class="px-5">
            Em face do exposto, a existência e organização do Centro Acadêmico de Física, com respaldo político junto aos estudantes, professores e técnico-administrativos, permite a melhoria da qualidade do curso e maior interação entre os discentes e discentes. Além de promover debates e realizar atividades cruciais para o amadurecimento do discente. 
          </p>
          <h4 class="px-5 mt-5">Quem faz parte do CAFÍS?</h4>
          <p class="px-5">
            Todos os estudantes devidamente matriculados no curso de Física do CEFET/RJ - Nova Friburgo fazem parte do CAFÍS.
          </p>
        </div>      
    </div>
</section>
<style>
  p{
    text-indent: 30px;
    text-align: justify;
  }
</style>
<script>
  window.onload = function() {
   
  };
</script>
{% endblock %}