<!-- Pricing-->
<section class="section section-sm section-bottom-70 section-fluid bg-default">
    <div class="container">
      <h2>Produtos oferecidos pelos CAFÍS</h2>
      <div class="row row-30 justify-content-center">
        <div class="col-md-6 col-lg-5 col-xl-4">
          <div class="box-pricing box-pricing-black">
            <div class="box-pricing-body">
              <h5 class="box-pricing-title">basic</h5>
              <h3 class="box-pricing-price">$500.00</h3>
              <div class="box-pricing-time">starting at</div>
              <div class="box-pricing-divider">
                <div class="divider"></div><span>Basic</span>
              </div>
              <ul class="box-pricing-list">
                <li class="active">Concept development</li>
                <li class="active">UI design</li>
                <li>Configuration management</li>
                <li>Software quality assurance</li>
                <li>App integration</li>
              </ul>
            </div>
            <div class="box-pricing-button"><a class="button button-lg button-block button-gray-4" href="#">Get started</a></div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
          <div class="box-pricing box-pricing-black box-pricing-popular">
            <div class="box-pricing-body">
              <h5 class="box-pricing-title">Optimal</h5>
              <h3 class="box-pricing-price">$800.00</h3>
              <div class="box-pricing-time">starting at</div>
              <div class="box-pricing-divider">
                <div class="divider"></div><span>Optimal</span>
              </div>
              <ul class="box-pricing-list">
                <li class="active">Concept development</li>
                <li class="active">UI design</li>
                <li class="active">Configuration management</li>
                <li class="active">Software quality assurance</li>
                <li>App integration</li>
              </ul>
            </div>
            <div class="box-pricing-button"><a class="button button-lg button-block button-primary" href="#">Get started</a></div>
            <div class="box-pricing-badge">popular</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
          <div class="box-pricing box-pricing-black">
            <div class="box-pricing-body">
              <h5 class="box-pricing-title">Ultimate</h5>
              <h3 class="box-pricing-price">$1200.00</h3>
              <div class="box-pricing-time">starting at</div>
              <div class="box-pricing-divider">
                <div class="divider"></div><span>Ultimate</span>
              </div>
              <ul class="box-pricing-list">
                <li class="active">Concept development</li>
                <li class="active">UI design</li>
                <li class="active">Configuration management</li>
                <li class="active">Software quality assurance</li>
                <li class="active">App integration</li>
              </ul>
            </div>
            <div class="box-pricing-button"><a class="button button-lg button-block button-gray-4" href="#">Get started</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>