{% extends 'base.html' %}
{% block biblioteca %}active{% endblock %}
{% block main %}
<section class="section section-sm section-first bg-default text-center d-flex" style="min-height: 500px;">
    <div class="row m-auto">
        <!-- <div class="col d-flex flex-column text-left px-5">
            <a href="#" class="mb-3">Home</a>
            <a href="#" class="mb-3">Procurar</a>
            <a href="#" class="mb-3">Sua biblioteca</a>
        </div>
        <div class="col-8 border">
2
        </div> -->
        <div class="col d-flex flex-column">
            <span class="mx-auto mt-auto mb-5">
                PÁGINA EM OBRA
            </span>
            <h4 class="mx-auto mb-auto">Ainda estamos construindo a nossa biblioteca.</h4>
        </div>
    </div>
</section>
<script>
  window.onload = function() {
   
  };
</script>
{% endblock %}